apache-airflow-providers-google

google-cloud-storage
google-cloud-bigquery
google-cloud-bigquery-storage

pandas
numpy
pyarrow

sqlalchemy
psycopg2-binary

dbt-core
dbt-bigquery

python-dotenv

requests

pytest

loguru

tabulate