# Streamlit & UI Dependencies
streamlit
pandas
numpy
plotly
graphviz

# GCP Dependencies
google-cloud-storage
google-cloud-bigquery
google-cloud-bigquery-storage
db-dtypes
apache-airflow-providers-google

# Data Engineering & Transformations
dbt-core
dbt-bigquery
pyarrow
sqlalchemy
psycopg2-binary

# Utilities & Data Ingestion
python-dotenv
requests
pytest
loguru
tabulate
kagglehub
pyyaml