# ==========================================
# Data Processing
# ==========================================

pandas
numpy
pyarrow

# ==========================================
# Database
# ==========================================

sqlalchemy
psycopg2-binary
duckdb

# ==========================================
# Environment Variables
# ==========================================

python-dotenv

# ==========================================
# Data Transformation
# ==========================================

dbt-core
dbt-duckdb

# ==========================================
# Testing
# ==========================================

pytest

# ==========================================
# Logging
# ==========================================

loguru

# ==========================================
# Dataset Download
# ==========================================

kagglehub

# ==========================================
# Reporting
# ==========================================

tabulate

streamlit

plotly
streamlit-option-menu
streamlit-extras